@import url(variables2.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100dvh;
    width: 100%;
    background: var(--color-9);
}

/*********************** BARRA LATERAL *******************/

.barra_lateral{
    position: fixed;
    width: 245px;
    height: 100%;
    overflow: hidden;
    background-color: var(--color-2);
    transition: width 0.5s ease;

}

/***************** BARRA LATERAL OCULTA ****************/

.mini_barra_lateral{
    width: 0;
}

/*************** HEADER BARRA LATERAL ***************/
.nombre_pagina{
    /* background: red; */
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nombre_pagina span{
    border-left: 3px solid var(--color-3);
    padding-left: 5px;
    height: 50%;
    white-space: nowrap;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease;
    font-family: "montserrat-bold";
}

.nombre_pagina span.oculto{
    opacity: 0;
}

.oculto {
    opacity: 0;
    width: 0;
    overflow: hidden;
    white-space: nowrap; 
    transition: opacity 0.3s ease, width 0.3s ease;
    display: inline-block; 
}

/**************** INFORMACION DE ADMIN ***************/

.section_info {
    /* border: 5px solid red; */
    display: flex;
    gap: 3%;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 100%;
    height: 26%;
    text-align: center;
    margin-top: 10px;
    transition: width 0.5s ease;
}

.section_info img {
    /* border: 5px solid blueviolet; */
    border-radius: 100%;
    width: 70px; /* Ajusta según el tamaño deseado */
    transition: width 0.5s ease;
}

.section_info img {
    width: 115px; 
    height: auto; 
    transition: width 0.5s ease;
    white-space: nowrap;
}

/**************** INFO BARRA OCULTA ***************/

.mini_barra_lateral .section_info img {
    transform: scale(0.5); 
}

.mini_barra_lateral .section_info span{
    transform: scale(0.8); 
}

/****************** INFO BARRA LATERAL ****************/

.section_info span{
    /* border: 5px solid blue; */
    font-size: 17px;
    white-space: nowrap;
    font-family: "montserrat-bold";
    transition: width 0.5s ease;
}
.section_info span.oculto{
    width: 0;
}
.section_info p{
    /* border: 5px solid green; */
    color: var(--color-3);
    font-size: 14px;
    font-family: "montserrat-medium";
}

/******************* NAVEGACION BARRA LATERAL ***************/

.navegacion{
    margin-top: 20%;
    margin-bottom: 35%;
}

.barra_lateral .navegacion li{
    /* border:  2px solid red; */
    list-style: none;
    display: flex;   
    justify-content: center;
    margin-bottom: 5%;
    font-family: "montserrat-medium";
}

.barra_lateral .navegacion a{
    /* border: 2px solid black; */
    width: 90%;
    height: 35px;
    display:  flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: var(--color-2);
    color: var(--color-4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.barra_lateral .navegacion a:hover{
    background-color: var(--color-3);
    color: var(--color-4);
}
.barra_lateral .navegacion img{
    /* border: 2px solid blue; */
    min-width: 10px;
    font-size: 10px;
    margin-right: 5%;
}

/************************ CERRAR SESION ************************/

.barra_lateral .sign-out{
    /* border: 2px solid black; */
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-4);
    overflow: hidden;
    margin-top: 20%;
    text-decoration: none;
    border-radius: 10px;
    height: 30px;
    font-family: "montserrat-medium";
}
a{
    text-decoration: none;
}
.barra_lateral .sign-out img{
    font-size: 17px;
}

.barra_lateral .sign-out span{
    margin-right: 10%;
    font-size: 13px;
    text-decoration: none;
}

.barra_lateral .sign-out:hover{
    background: var(--color-3);
}

/******************* SECCION MAIN *********************/

main{
    /* background: blue; */
    height: 50%;
    margin-left: 250px;
    padding: 20px 20px 0 20px;
    transition: margin-left 0.5s ease;
}

main.min-main{
    margin-left: 10px;
}

/*********************** HEADER ****************/

.div__container {
    /* background: red; */
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.flecha {
    /* background: rebeccapurple; */
}
.div__container .flecha img {
    /* background: green; */
    width: 25px;
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}
.div_search {
    /* background: gold; */
    margin-right: 3%;
    display: flex;
    justify-content: space-between;
    width: 23%;
}
.Search {
    /* background: palegreen; */
    border: 2px solid var(--color-8);
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    height: 100%;
}
.Search p{
    display: flex;
    align-items: center;
    /* background: skyblue; */
    width: 80%;
    font-family: "montserrat-regular";
    color: var(--color-7);

}
.Search img{
    /* background: pink; */
    width: 10%;
}
.campanita {
    /* background: blue; */
    display: flex;
    justify-content: space-between;
    width: 10%;
}
.campanita img{
    /* background: seagreen; */
    width: 80%;
}

.div__header {
    /* background: red; */
    margin-top: 3%;
    font-family: "montserrat-bold";
    font-size: 22px;
}
.div__header {
    /* background: blue; */
    display: flex;
    justify-content: space-between;
}

/***************** MAIN DE CATALOGO XD ***************/
.cubitos_div {
    /* background: red; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    margin-top: 5%;
}
/* CUBITO 1 */
.cubito1_div {
    background: var(--color-12);
    padding: 20px;
    border-radius: 8px;
    width: 24%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.imagen_texto1 {
    /* background: red; */
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.imagen_texto1 img{
    /* background: seagreen; */
    width: 20%;
}
.imagen_texto1 p{
    /* background: salmon; */
    font-size: 14px;
    font-family: "montserrat-medium";
}
.numero3_div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2%;

}
.numero1_div strong{
    /* background: pink; */
    font-size: 30px;
    font-family: "montserrat-bold";
    display: flex;
    justify-content: flex-end;
}
/* CUBITO 2 */
.cubito2_div {
    background: var(--color-13);
    padding: 20px;
    border-radius: 8px;
    width: 24%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.imagen_texto2 {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.imagen_texto2 img{
    /* background: seagreen; */
    width: 13%;
}
.imagen_texto2 p{
    /* background: salmon; */
    font-size: 14px;
    font-family: "montserrat-medium";
    display: flex;
    flex-direction: column;
}

.numero2_div strong{
    /* background: pink; */
    font-size: 30px;
    font-family: "montserrat-bold";
    display: flex;
    justify-content: flex-end;
}
/* CUBITO 3 */
.cubito3_div {
    background: var(--color-14);
    border-radius: 8px;
    padding: 20px;
    width: 24%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.imagen_texto3 {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.imagen_texto3 img{
    /* background: seagreen; */
    width: 13%;
}
.imagen_texto3 p{
    /* background: salmon; */
    font-size: 14px;
    font-family: "montserrat-medium";
}
.numero3_div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2%;

}
.numero3_div p{
    font-size: 18px;
    font-family: "montserrat-bold";
}
.numero3_div strong{
    /* background: pink; */
    font-size: 30px;
    font-family: "montserrat-bold";
}
/* CUBITO 4 */
.cubito4_div {
    background: linear-gradient(315deg, var(--color-16), var(--color-15));
    border-radius: 8px;
    padding: 20px;
    width: 24%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.imagen_texto4 {
    /* background: paleturquoise; */
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.imagen_texto4 img{
    /* background: seagreen; */
    width: 13%;
}
.imagen_texto4 p{
    /* background: salmon; */
    color: var(--color-1);
    font-size: 14px;
    font-family: "montserrat-medium";
}

.numero4_div strong{
    /* background: pink; */
    font-size: 30px;
    font-family: "montserrat-bold";
    display: flex;
    justify-content: flex-end;
}



