@import url(variables1.css);

*{
    margin: 0;
    box-sizing: border-box;
    background: linear-gradient(315deg, var(--color-5), var(--color-4));
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
}

/********************  Dialogo de inicio de sesion  *************************/
dialog{
    margin-left: 68%;
    margin-top: 4%;
    background: var(--color-1);
    border-radius: 10px;
    outline: none;
    border: 2px solid var(--color-2);
}
.dialog__header {
    background: transparent;
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    font-family: "Montserrat-Mixed";
    cursor: pointer;
}
.dialog__header span{
    background: var(--color-8);
    color: var(--color-9);
    padding: 1px 8px;
    border-radius: 100%;
}
.dialog__main {
    background: transparent;
    font-size: 30px;
    font-family: "Montserrat-Mixed";
}
/************************* Caja inicio de sesion principal *************************/
.caja_main {
    background: var(--color-1);
    margin: auto;
    padding: 1px;
    width: 30%;
    height: 550px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 7%;
    border-radius: 20px;
}
/***************************** caja de titulo *******************************/
.div_titulo {
    background: transparent;
    margin-top: 8%;
    padding: 1px;
    width: 75%;
    height: 7%;
    border-left: 5px solid var(--color-4);
    display: flex;
    justify-content: center;
}
.div_titulo h1{
    background: transparent;
    padding-right: 5px;
    font-size: 32px;
    font-family: "Montserrat-Bold";
}

/******************************** sign in informacion *********************************/
.div_signin {
    background: transparent;
    height: 10%;
    padding: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;

}
.div_signin span{
    background: transparent;
    font-size: 22px;
    width: 30%;
    font-family: "Montserrat-SemiBold";
}
.div_signin p{
    background: transparent;
    font-size: 14px;
    color: var(--color-2);
    font-family: "Montserrat-Regular";
}

/******************************** section form para logn in ********************************/
.section__form{
    background: transparent;
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
}
.formLogin{
    background: transparent;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 13%;
}

/*********************** caja email ****************************/
.div__email{
    background: transparent;
    padding: 1px;
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.div__email label{
    background: transparent;
    color: var(--color-2);
    font-size: 14px;
    font-family: "Montserrat-Medium";
}
.div__email input{
    background: transparent;
    border: 2px solid var(--color-6);
    border-radius: 4px;
    padding-left: 2%;
    outline: none;
    width: 100%;
    height: 65%;
    box-shadow: none;
    font-size: 12px;
    color: var(--color-7);
    font-family: "Montserrat-Regular";
}
.div__email input::placeholder{
    color: var(--color-3);
}

/************************************* caja contraseña *****************************************/
.div__pasword{
    background: transparent;
    padding: 1px;
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.div__pasword label{
    background: transparent;
    color: var(--color-2);
    font-size: 14px;
    font-family: "Montserrat-Medium";
}
.div__pasword input{
    background: transparent;
    border: 2px solid var(--color-6);
    border-radius: 4px;
    padding-left: 2%;
    outline: none;
    height: 65%;
    box-shadow: none;
    font-size: 12px;
    color: var(--color-);
    font-family: "Montserrat-Regular";
}
.div__pasword input::placeholder{
    color: var(--color-3);
}

/******************************** bonton de sign in *****************************/
.div__sign{
    background: transparent;
    width: 100%;
    height: 20%;
    border-radius: 5px;
    
}
.div__sign button{
    background: var(--color-4);
    color: var(--color-1);
    border: 0px;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: "Montserrat-Regular";
}

/************************************* contraseña olvidada **************************************/
.forgot_password {
    background: transparent;
    padding: 1px;
    width: 63%;
    display: flex;
    justify-content: space-evenly;

}
.forgot_password span:nth-child(1){
    background: transparent;
    color: var(--color-2);
    font-size: 14px;
    font-family: "Montserrat-Medium";
}
.forgot_password a{
    background: transparent;
    color: var(--color-4);
    font-size: 14px;
    font-family: "Montserrat-Medium";
}


/***************************** RESPONSIVE SECTION :D ********************************/

/* PC DESING RESPONSIVE */

@media screen and (min-width: 1920px) and (max-width: 2559px) {
    .caja_main{
        background: var(--color-1);
        padding: 1px;
        width: 23%;
        height: 750px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 7%;
        border-radius: 20px;
    }
}

/* LAPTOP DESING RESPONSIVE */

@media screen and (min-width: 1280px) and (max-width: 1440px) {
    .caja_main{
        width: 30%;
        height: 500px;
        gap: 7%;
    } 
    .div_titulo {
        margin-top: 8%;
        padding: 1px;
        width: 82%;
        height: 7%;
    }
    .div_titulo h1{
        padding-right: 5px;
        font-size: 23px;
        display: flex;
        align-items: center;
    }
    .div_signin {
        height: 10%;
        padding: 1px;
        gap: 10%;
    }
    .forgot_password {
        background: transparent;
        padding: 1px;
        width: 80%;
        display: flex;
        justify-content: space-evenly;
    }
    .forgot_password span:nth-child(1){
        background: transparent;
        color: var(--color-2);
        font-size: 14px;
        font-family: "Montserrat-Medium";
    }
    .forgot_password a{
        background: transparent;
        color: var(--color-4);
        font-size: 14px;
        font-family: "Montserrat-Medium";
    }
}


/* ADAPTACION TABLET */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .caja_main{
        width: 45%;
        height: 500px;
        gap: 7%;
    } 
    .div_titulo h1{
        padding-right: 5px;
        font-size: 23px;
        display: flex;
        align-items: center;
    }
    .forgot_password{
        width: 90%;
    }
    .forgot_password span:nth-child(1){
        font-size: 15px;
    }
    .forgot_password a{
        font-size: 15px;
    }

}

/* ADAPTACION MOVIL M*/

@media screen and (min-width: 375px) and (max-width: 430px) {
    dialog{
        margin-left: 6%;
        margin-top: 5%;
        width: 100%;
        height: 14%;
    }
    .dialog__header {
        font-size: 22px;
    }
    .dialog__main {
        font-size: 25px;
    }

    .caja_main{
        padding: 1px;
        width: 85%;
        height: 500px;
        gap: 8%;
    } 

    .div_titulo {
        margin-top: 8%;
        padding: 1px;
        width: 80%;
        height: 7%;
    }
    .div_titulo h1{
        padding-right: 5px;
        font-size: 23px;
        display: flex;
        align-items: center;
    }
    .div_signin {
        width: 95%;
        height: 10%;
        padding: 1px;
        gap: 10%;
        text-align: center;
    }
    .barra_contra p{
        height: 50%;
        width: 40%;
        margin-left: 2%;
        font-size: 11px;
    }
    .forgot_password{
        width: 90%;
    }
    .forgot_password span:nth-child(1){
        font-size: 14px;
    }
    .forgot_password a{
        font-size: 14px;
    }
}

/* ADAPTACION MOVIL S*/

@media screen and (min-width: 320px) and (max-width: 374px) {
    dialog{
        margin-left: 7%;
        margin-top: 5%;
        height: 15%;
        width: 100%;
    }
    .dialog__header {
        font-size: 15px;
    }
    .dialog__main {
        font-size: 20px;
    }
    
    .caja_main{
        padding: 1px;
        width: 85%;
        height: 400px;
        gap: 8%;
    } 

    .div_titulo {
        margin-top: 8%;
        padding: 1px;
        width: 80%;
        height: 7%;
    }
    .div_titulo h1{
        padding-right: 5px;
        font-size: 19px;
    }
    .div_signin {
        height: 10%;
        padding: 1px;
        gap: 10%;
    
    }
    .div_signin span{
        font-size: 19px;
        width: 30%;
    }
    .div_signin p{
        font-size: 14px;
        text-align: center;
    }
    .barra_email p{
        font-size: 10px;
    }
    .barra_contra p{
        font-size: 9px;
    }
    .forgot_password{
        width: 100%;
    }
    .forgot_password span:nth-child(1){
        font-size: 12px;
    }
    .forgot_password a{
        font-size: 12px;
    }
}



