:root{
    --color-1: #fff;
    --color-2: #F2EAE1;
    --color-3: #FEAF00;
    --color-4: #000;
    --color-5: rgba(255, 166, 0, 0.514);
    --color-6: #ACACAC;
}

@font-face {
    font-family: "montserrat-bold";
    src: url(../storage/font/Montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "montserrat-medium";
    src: url(../storage/font/Montserrat/static/Montserrat-Medium.ttf);
}

@font-face {
    font-family: "montserrat-semibold";
    src: url(../storage/font/Montserrat/static/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: "montserrat-regular";
    src: url(../storage/font/Montserrat/static/Montserrat-Regular.ttf);
}
