:root{
    --color-1: #fff;
    --color-2: #6C6C6C;
    --color-3: #CDCDCD;
    --color-4: #FEAF00;
    --color-5: #F8D442;
    --color-6: #E5E5E5;
    --color-7: #000;
    --color-8: rgba(255, 0, 0, 0.582);
    --color-9: rgb(105, 0, 0);

}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../storage/font/Montserrat/static/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../storage/font/Montserrat/static/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../storage/font/Montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("../storage/font/Montserrat/static/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Montserrat-Mixed";
    src: url("../storage/font/Montserrat/static/Montserrat-ExtraLight.ttf");
}
