<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/dashboard.css">
</head>
<body>
    <!---------------------- MENU  LATERAL ------------------->

    <div class="barra_lateral ">

        <!--------------------- ENCABEZADO MENU ------------------------>
        
                <div class="nombre_pagina">
                    <span>CRUD OPERATIONS</span>
                </div>
        
        <!-------------------- INFORMACION MENU ----------------------->
        
                <section class="section_info">
                    <img src="../storage/img/pexels-photo-2379004 1.png">
                    <span>Karthi Madesh</span>
                    <p>Admin</p>
                </section>
        
        <!----------------------- OPCIONES DE MENU ---------------------->
        
                <nav class="navegacion">
                    <ul>
                        <li>
                            <a href="#">
                                <img src="../storage/img/home-lg-alt 1.svg">
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../storage/img/bookmark 1.svg">
                                <span>Course</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../storage/img/graduation-cap 1.svg">
                                <span>Students</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../storage/img/usd-square 1.svg">
                                <span>Payment</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../storage/img/file-chart-line 1.svg">
                                <span>Report</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../storage/img/sliders-v-square 1.svg">
                                <span>Settings</span>
                            </a>
                        </li>
                    </ul>
                </nav>
        
        <!--------------------------- CERRAR SESION MENU ------------------->
        
                <a href="../index.html">
                    <div class="sign-out">
                        <span>Logout</span>
                        <img src="../storage/img/sign-out-alt 1.png">
                    </div>
                </a>
            </div>
        
        <!----------------------- MAIN SECTION  ------------------>
        
            <main>
                <div class="div__container">
        
        <!---------------------- FLECHA DEL MENU LATERAL -------------------->
        
                    <div class="flecha">
                        <img id="flechita" src="../storage/img/caret-circle-down 1.svg" alt="">
                    </div>
        
        <!------------------------ HEADER BUSQUEDA -------------------------->
        
                    <div class="div_search">
                        <div class="Search">
                            <p>Search...</p>
                            <img src="../storage/img/search 1.svg" alt="">
                        </div>
                        <div class="campanita">
                            <img src="../storage/img/bell 1.svg" alt="">
                        </div>
                    </div>
                </div>
        <!--------------- MAIN DE CATALOGO XD -------------------->
                <div class="cubitos_div">
                    <div class="cubito1_div">
                        <div class="imagen_texto1">
                            <img src="../storage/img/prom2024.svg">
                            <p>Students</p>
                        </div>
                        <div class="numero1_div">
                            <strong>243</strong>
                        </div>
                    </div>
                    <div class="cubito2_div">
                        <div class="imagen_texto2">
                            <img src="../storage/img/bandera.svg">
                            <p>Course</p>
                        </div>
                        <div class="numero2_div">
                            <strong>13</strong>
                        </div>
                    </div>
                    <div class="cubito3_div">
                        <div class="imagen_texto3">
                            <img src="../storage/img//dinerodinero.svg">
                            <p>Payment</p>
                        </div>
                        <div class="numero3_div">
                            <p>INR</p>
                            <strong>556,000</strong>
                        </div>
                    </div>
                    <div class="cubito4_div">
                        <div class="imagen_texto4">
                            <img src="../storage/img/Vector.svg">
                            <p>Users</p>
                        </div>
                        <div class="numero4_div">
                            <strong>3</strong>
                        </div>
                    </div>
                </div>
            <main>
    <script src="../javascript/lateral.js"></script>
</body>
</html>